* text=auto
*.cs text eol=crlf
*.unity text eol=lf merge=unityyamlmerge
*.prefab text eol=lf merge=unityyamlmerge
*.asset text eol=lf merge=unityyamlmerge
*.meta text eol=lf
*.png binary
*.wav binary
*.mp3 binary
*.ogg binary
